[2021-08-11 03:14] Finesse commented on #691
Do you mean that FingerprintJS runs in an iframe, the iframe is removed while FingerprintJS is running, and the error occurs after the iframe is removed? If so, I'm afraid that it's not a FingerprintJS's fault because any code can fail in such conditions. Even if FingerprintJS catches the error and continues, it won't be able to get the visitor id, so it makes no sense to handle the error. What I

[2021-08-11 20:55] jyyang42 commented on #672
Hi @Finesse seeing the same error here, and I'm on 3.3.0.
Some samples of user agents that throw the errors are:
[code]
Service Worker state is redundant error
[code]

[2021-08-12 00:50] Finesse commented on #672
@jyyang42 Where do you see the error? Is it printed to browser console or returned in the list of components (`(await fp.get()).components.audio.error`) or thrown from `fp.get()`?

[2021-08-23 05:44] Directory commented on #430
since this seems to have become a discussion board for opinions nobody asked for, i might as well give mine. and what better way to do it then to explain my philosophy and beliefs in a way that makes me look like the "bad guy". i myself do not use this library only because i myself am not satisifed with the accuracy and level of "tracking" it provides. thats right, i want to track my users *more*.

[2021-08-23 07:38] KOLANICH commented on #430
The same logic as in

This library is marketed as a solution for actors doing things we consider evil. The authors of this library provide a yet another enhanced solution marketed as the one for doing the things we consider evil. We consider authors of thjs library as accomplices in doing these evil things.

Keeping this lib free software is beneficial because it kind of monopolizes this area. So

[2021-08-23 07:59] Directory commented on #430
actually yes, i believe in this statement 100% and further reinforces my philosophy. you should not only be paranoid of the software, you shouldnt even trust the hardware. that is why in my example of buying a burner laptop and using at at a coffee shop, i said "open it up and verify the hardware is genuine". you dont know if the person who sold it to the pawn shop put a keylogger circuit that is

[2021-08-23 10:09] KOLANICH commented on #430
We are already paranoid in hardware. But do you know what the word "trusted" and "trustworthy" means? The word "trusted" means "that stuff will be able to compromise you, and probably will compromise you, and **you will have to tolerate it** (if you don't tolerate it, the stuff is no longer trusted)". We should not trust the stuff called "trusted", by such a definition, but we have to, because for

[2021-08-23 11:58] Directory commented on #430
I can comment on a lot of things but in favor of breaking this threads nit picking reply chain i simply want to state 2 things. Firstly i disagree with your last analogy. By walking outside you don't agree to be involved in tragedy's and accidents. If someone decided to stab you they outwardly decided to hurt you. You didn't prepare, expect, or had a chance to defend yourself from it. You where th

[2021-08-23 12:45] KOLANICH commented on #430
If someone installed malware on a website in order to hurt visitors, he already decided to hurt them. Including me, if I am a visitor of such a website.

Of course I can. I can buy a bullet-proof west and vear it all the time. Additionally I can buy a chainmail and wear it behind the vest.

I am not going to comment on that. Ech part of that sentence deserves a separate big discussion.

No, on web

[2021-08-23 17:47] jyyang42 commented on #672
@Finesse , it's thrown in the browser and shows up in the console.

[2021-08-23 23:01] Finesse commented on #672
@jyyang42 What exactly do you mean?

[2021-08-24 18:18] jyyang42 commented on #672
@Finesse printed to browser console

[2021-08-25 03:50] supershowwei commented on #269
I added a simple `getSync()` in released `fp.js` file. It removed asynchronous factors of fingerprint generating for trade-off. This is just contingency plan, hope it helps.

https://github.com/supershowwei/synchronous-fingerprintjs

[2021-08-28 07:06] Finesse commented on #691
@timhwang21 Have you solved your issue?

[2021-08-28 15:55] timhwang21 commented on #691
No, but I think I can handle it independently of the library.

[2021-08-28 15:55] #691 closed

[2021-08-30 08:36] makma commented on #693
I’m closing this issue now because of inactivity.

@tqdo we can always reopen it though! :) Please update the issue if needed.

[2021-08-30 08:36] #693 closed

[2021-09-06 07:08] jackiehamchen opened #698 "fingerprint has changed on different servers"
### Scenario

- What causes the fingerprint to change?
I deployed fingerprintjs on a linux server to print the visitorId on my Chrome browser and i got a visitorId, but i got a different visitorId when i run this fingerprintjs locally (MacOS) using the same Chrome browser.
- What device and browser are you using?
MacOS, Chrome (Version 93.0)
- What version of fingerprintjs are you using? (Bug repo

[2021-09-10 06:20] Finesse commented on #698
Hi @jackiehamchen! Do you mean that you get different visitor ids when you run FingerprintJS on different servers (local and remote)? If yes, please check whether both the servers have secure or both have insecure context (`window.isSecureContext`). FingerprintJS is expected to produce different ids in different contexts. A similar issue: https://github.com/fingerprintjs/fingerprintjs/issues/682.

[2021-09-15 04:59] ankitchouhan1020 opened #699 "Tree-shaking doesn't work properly"
### Scenario

  I'm using only `load` function from fingerprintjs. So I imported it like this.
[code]
  This should include only the `load` function in the bundled chunks. But it is including the whole fp.esm.js file in the webpack bundle.

### Reason
sideEffects work on file/module level. Since there is only one file being exported, it will include the whole file in bundled chunks.

### Possible

[2021-09-15 05:45] Finesse commented on #699
Hi @ankitchouhan1020. The `load` function requires all the rest code of the library, so if you import `load`, nothing will be removed during a tree-shaking. What do you expect to be left/removed in your code after tree-shaking the FingerprintJS library?

Webpack doesn't apply in-file tree-shaking in development mode and does apply in production mode. I've just checked it with Webpack 4.44.2. Not d

[2021-09-15 05:55] ankitchouhan1020 commented on #699
Hi @Finesse, I missed this. Initially, when looked into `agent.ts`, there were many named exports so I thought somehow we can remove them from the bundle.

Thanks for the clarification. Closing this.

[2021-09-15 05:55] #699 closed

[2021-09-24 11:13] pipecc opened #702 "fingerprint 22"
### Scenario

- What causes the fingerprint to change?
- What device and browser are you using?
- What version of fingerprintjs are you using? (Bug reports not applicable to fingerprintjs master are subject to be closed without comment)

### Fingerprint data

Provide the FULL data of both/all fingerprints using this page: https://fingerprintjs.github.io/fingerprintjs/.
Alternatively, provide a JSF

[2021-09-24 11:15] pipecc commented on #702
Duplicate of #701

[2021-09-24 11:24] Finesse commented on #702
Hi @pipecc. I don't understand what's your issue.

[2021-09-24 11:25] Finesse commented on #698
Closing due to the lack of response

[2021-09-24 11:25] #698 closed

[2021-10-02 20:16] beshoo opened #703 "Validating visitorId"
Thank you for this add on.
Simple question. how can we validate on the server side the visitorId if it is generated by this lib or it is a fake ID?

[2021-10-04 07:26] #703 closed

[2021-10-07 07:17] mark-stopka opened #705 "Wrong GitHub tag on the repository..."
GitHub repo has tag `audio-fingerprinting`, although this project has nothing to do with audio fingerprinting...

### Scenario

- What's the scenario, what happens and what did you expect to happen?
Searching GitHub

- What device and browser are you using?
N/A

- What version of fingerprintjs are you using? (Bug reports not applicable to fingerprintjs master are subject to be closed without comme

[2021-10-07 07:33] #705 closed

[2021-10-14 15:23] prototype23 opened #706 "PC with Multiple Screens"
### Scenario

- What causes the fingerprint to change?
A pc with multiple screens.
- What device and browser are you using?
Windows 10, Firefox 93 & Chrome 94.0.4606.81 (Official Build) (64-bit)
- What version of fingerprintjs are you using?
V3.3.0

### Fingerprint data

Provide the FULL DATA of both/all fingerprints using this page: https://fingerprintjs.github.io/fingerprintjs/.
Alternatively, p

[2021-10-15 02:49] Finesse commented on #706
Hi @prototype23. Do you mean that you get different fingerprints when the browser window is on different screens? If yes, this is by design. Screen resolution is a good source of entropy. The instability caused by multiple monitors is acceptable for us, so we keep using screen resolution to calculate the fingerprints. Do you have ideas of how to solve it?

If this instability is not ok for you, yo

[2021-10-15 10:11] prototype23 commented on #706
Hi @Finesse, thanks for your reply.

In my case, `screenFrame` changes the entropy, i have two monitors with the same resolution and depending from where i open the demo, visitor id changes. For my needs/understanding this should not happen. But since this is your design and you provide a guide how to exclude components that affect the entropy, i'm ok with that.

Please close this issue.

[2021-10-17 11:42] cyptus opened #707 "Missing docu for extended results"
### Scenario

- What's the scenario, what happens and what did you expect to happen?
fetching fingerprint deos not deliver extended data like iplocation and incognito info
- What device and browser are you using?
windows, chrome
- What version of fingerprintjs are you using? (Bug reports not applicable to fingerprintjs master are subject to be closed without comment.)
pro v3.5.3

### Fingerprint d

[2021-10-18 01:46] Finesse commented on #706
Fingerprinting is a trade-off between sensitivity (the high number of unique fingerprints) and stability (the low chance of a device to get different fingerprints). We try to keep the optimal balance, but everybody has their own preferred balance, so we suggest [a way to change the balance](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md).

[2021-10-18 01:46] #706 closed

[2021-10-18 01:56] #707 closed

[2021-11-02 09:32] wuchuguang commented on #603
Each time you generate a different fingerprint

[2021-11-02 10:00] Finesse commented on #603
You provide very little information, so we can't check your case. Please tell the following:

1. The operating system and browser name and versions that you use.
2. The address of the page where you get the different fingerprints.
2. The components that form a pair of falsely different fingerprints. You can get the components at https://fingerprintjs.github.io/fingerprintjs

[2021-11-11 14:44] tilonorrinco opened #710 "Different fingerprint in chrome devtools mobile emulation"
### Scenario
**- What causes the fingerprint to change?**
When I use chrome developer tools and use mobile emulation via "device toolbar" different fingerprint is generated.
![image](https://user-images.githubusercontent.com/25035421/141317823-d4f233e5-b009-4d88-bdca-96706ac7d204.png)

**- What device and browser are you using?**
PC, Chrome 95.0.4638.69
**- What version of fingerprintjs are you us

[2021-11-11 18:27] makma commented on #710
Hi, @tilonorrinco!

This is a by-design behavior. Open source FingerprintJS calculates fingerprints (hashes) according to the signals (also called entropy components). If you emulate different browser behavior, these components change (`screenResolution`, `fontPreferences`, and `plugins`). Therefore it calculates different hash.

If you want to have a more stable identifier you have two options.

[2021-11-12 02:30] Finesse commented on #573
This method is now the main installation method:

[code]

See [the browser support guide](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/browser_support.md#old-browsers-requirements) to use the library in old browsers.

[2021-11-12 02:30] #573 closed

[2021-11-12 02:42] Finesse commented on #710
This is not a case that FingerprintJS is designed to handle because it is very rare and it requires discarding many useful entropy sources. You can remove the unstable entropy sources like @makma has said, but you'll reduce the accuracy for other visitors. There is nothing else you can do at the moment.

[2021-11-12 02:42] #710 closed

[2021-11-30 05:12] ankurparihar opened #714 "Incorrect documentation for font detection"
### Scenario

- I have been reading how fonts are detected in fingerprintjs. I saw this comment https://github.com/fingerprintjs/fingerprintjs/blob/aa7ab5d41dd44ed1bd75fce56c1f2c688cb2c8a3/src/sources/fonts.ts#L10-L11
- But If we think of it, if it doesn't match all 3 that means that the test string render with some other font, which suggests that the requested font is successfully loaded from OS

[2021-11-30 05:32] Finesse commented on #714
You are right, thank you

[2021-11-30 05:32] #714 closed

[2021-12-06 20:54] BafS opened #718 "Treeshaking does not work when excluding components"
The documentation explains how to remove components (https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md#extending-fingerprintjs) but unfortunately it doesn't seems to work well with treeshaking, the components stay in the compiled source.

It's possible to get the "`sources`" and whitelist components but the blobs are still not treeshaked. I tried with webpack 5.64 and ro

[2021-12-06 21:02] Valve commented on #718
@BafS thanks for submitting this issue, we'll take a deeper look and reply shortly

[2021-12-07 03:08] Finesse commented on #718
Hi @BafS. The library is not designed to tree-shake individual entropy sources. We consider adding this feature in a future release, but we can't say when exactly and whether we'll do it.

At the moment the only option for you is modifying the library source code. Remove the entropy sources that you don't need or add `export`s for individual sources. Some ways to modify the library code:

- Use [p

[2021-12-07 10:53] SomeMinecraftModder opened #720 "Issue with tracking"
ahahah tracking is not good now delete this issue

[2021-12-07 17:28] BafS commented on #718
Thanks for your answer, another solution would be to clone the repository and import the needed typescript modules directly which is maybe the easiest to be sync with the library.

[2021-12-07 19:40] BafS commented on #718
If it can help anyone, I finally achieve it by doing a babel plugin to visit the AST and remove the nodes I don't need.

For example, in your `webpack.common.js`:
[code]

Use at your own risks

[2021-12-08 07:57] Finesse commented on #720
FingerprintJS is made for fraud prevention, not for cross-site tracking

[2021-12-08 07:57] #720 closed

[2021-12-29 07:11] cnwp007 opened #723 "Why does the same browser generate two fingerprint IDS?"
![image](https://user-images.githubusercontent.com/16228145/147636364-1aa55d05-37e8-4d5e-b709-71f5ce0b5077.png)
[code]

[2021-12-29 09:22] makma commented on #723
Hi @cnwp007, can you post here JSONs of the `result` property?

[2021-12-30 11:45] mvalitov commented on #723
I get the same error, two sites in one browser:
`{"components":{"fonts":{"value":["PMingLiU"],"duration":28},"domBlockers":{"duration":0},"fontPreferences":{"value":{"default":149.3125,"apple":149.3125,"serif":149.3125,"sans":144.015625,"mono":133.0625,"min":9.34375,"system":142.421875},"duration":19},"audio":{"value":124.04347527516074,"duration":30},"screenFrame":{"value":[0,0,0,0],"duration":0}

[2021-12-30 12:05] makma commented on #723
Hey @cnwp007,
The reason why you have two different fingerprints is a different signal - the only difference in the provided JSONs is a `deviceMemory`. In some browsers (e.g. Chrome), `navigator.deviceMemory` is not accessible (actually, it's undefined) on the HTTP pages. I assume you tested it on two different pages (one using HTTP, the other one using HTTPS). Is that correct?

If so, this is not

[2021-12-30 13:31] mvalitov commented on #723
probably this message is addressed to me)
in my version, both sites are open via http, not via https.

there is one more point that version 3.3.2 was first installed on one of the sites, and version 3.1.1 on the other. Then I installed version 3.1.1 on both sites

[2021-12-30 13:53] makma commented on #723
@mvalitov sorry for the wrong handle mention :)
- Do you use the same browser? (`navigator.deviceMemory` might behave differently among various browsers - [src](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/deviceMemory)).
- Can you check values for `navigator.deviceMemory` in the browser console for both sites?
- Anyways, you can still exclude the problematic component - take a look

[2021-12-30 14:12] Finesse commented on #723
@mvalitov Is the domain name the same? Browsers treat pages on localhost as https pages.

[2021-12-31 03:14] cnwp007 commented on #723
{
    "visitorId": "65ea95799cb54735024b1533762b9526",
    "confidence": {
        "score": 0.6,
        "comment": "0.996 if upgrade to Pro: https://fpjs.dev/pro"
    },
    "components": {
        "fonts": {
            "value": [
                "Calibri",
                "Century",
                "Century Gothic",
                "Franklin Gothic",
                "Leelawadee",

[2021-12-31 03:14] cnwp007 commented on #723
{
    "visitorId": "2b5f614ddebe96085b050e4c6e5c535e",
    "confidence": {
        "score": 0.6,
        "comment": "0.996 if upgrade to Pro: https://fpjs.dev/pro"
    },
    "components": {
        "fonts": {
            "value": [
                "Calibri",
                "Century",
                "Century Gothic",
                "Franklin Gothic",
                "Leelawadee",

[2021-12-31 03:18] cnwp007 commented on #723
This is two result property JSONs,Both use the HTTP protocol.

[2021-12-31 03:28] cnwp007 commented on #723
This is two result property JSONs,Both use the HTTP protocol.
This is the browser version information:Chrome 94.0.4606.81（64）

[2021-12-31 12:41] mvalitov commented on #723
yes, i use one browser

in one site - 8
in another - undefined

[2021-12-31 12:44] mvalitov commented on #723
apparently you are right, I have one site open at http://localhost:8081/, the second by the domain name http://app.<project-name>.test, which links to 172.18.0.5 on my computer

[2022-01-03 02:29] Finesse commented on #723
@mvalitov Then, this is an expected behavior. If you want to get the same fingerprint on HTTP and HTTPS pages, you can exclude the [deviceMemory](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md#extending-fingerprintjs) component.

@cnwp007 Thanks for the data. I'll take a look and come with a response later.

[2022-01-03 09:12] Finesse commented on #723
@cnwp007 Could you please provide more information (the more the better):

- How do you get different fingerprints?
- Do you get them in regular and incognito mode of Chrome?
- Do you get them on different websites?
- Do you use browser plugins that may interfere with the fingerprint?

[2022-01-04 01:50] cnwp007 commented on #723
![image](https://user-images.githubusercontent.com/16228145/147999012-6994ec0d-3264-4c8e-b663-8d1dca1ed72a.png)
This  browser plugins causes a browser to generate two fingerprint IDs

[2022-01-06 07:39] Bodokh opened #725 "Fingerprint changing due to moving browser window from one monitor to another."
### Scenario

- What causes the fingerprint to change?
Moving the browser window from monitor to another monitor
- What device and browser are you using?
Windows 10 with most recent updates and Chrome 96
- What version of fingerprintjs are you using? (Bug reports not applicable to fingerprintjs master are subject to be closed without comment)
version 3.3.2

Debug data:

Monitor 1:
Visitor identifi

[2022-01-06 15:19] vbp-2610 opened #727 "npm run build is throwing error"
### Discussed in https://github.com/fingerprintjs/fingerprintjs/discussions/726

<div type='discussions-op-text'>

<sup>Originally posted by **vbp-2610** January  6, 2022</sup>
Hi Guys,

I have following version in my mac book

node ->v16.8.0
npm ->7.21.0
tsc->4.5.0 (type script)

when I am running npm run build, I am getting following issue

@fingerprintjs/fingerprintjs@3.3.2 build

./src/index.t

[2022-01-06 16:55] AdamaTNT opened #728 "Duplicate Geometry Data When Using Firefox - Confirmed Across Multiple Devices"
The geometry segment of the fingerprints are busted on Firefox. I've replicated it multiple times. Duplicates occur on laptops, desktops and mobile devices. Duplicates occur cross devices too (i.e. laptop geo = mobile geo, etc). Firefox version does not seem to matter.

Have not been able to locate on any other browser so far...

When combined with other data, we can still somewhat achieve "unique

[2022-01-07 02:12] Finesse commented on #727
Closing this because it's a duplicate of https://github.com/fingerprintjs/fingerprintjs/discussions/726

[2022-01-07 02:12] #727 closed

[2022-01-07 14:47] brown-qs commented on #725
It's related to 2 properties:
**ScreenResolution** and **ScreenFrame**.
I've tested that if you remove these properties from entropy source, visitorIDs are identical.
I think we don't need screen device sensitiveness for browser-fingerprint.

Thank you.

[2022-01-07 14:52] brown-qs commented on #723
By default, FP.js generates different IDs for differrent domains even if they are on same browser.

Thank you

[2022-01-07 14:54] Valve commented on #723
@brown-qs it's not generating different IDs for different domains, but it will generate different IDs for domains that have mixed http and https schemes.

[2022-01-07 14:57] Valve commented on #725
@brown-qs thanks for your comment. You can exclude the screen size from the components, but please note that the percentage of devices with only one screen is much higher than that of devices with multiple screens.
By excluding this component you will fix your particular situation, but will degrade accuracy on all other devices.
Fingerprinting is all about balance between uniqueness and stability.

[2022-01-07 15:14] brown-qs commented on #723
@Valve Thank you!  You are right.

[2022-01-07 15:19] Finesse commented on #723
@brown-qs We don't speak Chinese. Could you please provide a lint to the extension?

[2022-01-10 00:59] cnwp007 commented on #723
@Finesse Thank you so much.
This is a third-party extension, we won't talk about it for the time being.
Can we customize the browser parameters for configuring fingerprint JS.

[2022-01-10 01:04] Finesse commented on #723
@cnwp007 I don't think I understand you correctly. You can customize FingerprintJS (e.g. exclude unstable entropy sources) by following [this guide](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md).

Anyway, I'm closing the issue because the different fingerprints are caused by a browser extension, and FingerprintJS is not design to withstand browser extensions.

[2022-01-10 01:04] #723 closed

[2022-01-10 01:14] cnwp007 commented on #723
Yes, that's right. Thank you

[2022-01-10 10:33] makma commented on #728
Hello @AdamaTNT,
If the browser interprets the canvas data the same way among various versions of the browser, the canvas entropy component remains unchanged. This is the desired behaviour.

For example, Firefox on Mac (or Windows) and iOS use different engines. When you try to generate a fingerprint on these platforms, you will get the different entropy components for canvas.

What do you mean by

[2022-01-11 06:54] Finesse commented on #725
This issue has several duplicates (some of them: https://github.com/fingerprintjs/fingerprintjs/issues/706, https://github.com/fingerprintjs/fingerprintjs/issues/352). I agree with what @Valve says. If you need to change the stability-uniqueness balance by excluding the screen resolution and screen frame from the fingerprint, see [the extending guide](https://github.com/fingerprintjs/fingerprintjs

[2022-01-11 06:54] #725 closed

[2022-01-20 13:12] danielstorch opened #733 "fingerprintjs violates the CSP header while trying to set inline-style"
### Scenario

- What's the scenario, what happens and what did you expect to happen?
--> Loading page which uses fingerprintjs but doesn't allow `inline styles`
- What device and browser are you using?
--> Google Chrome on a Mac
- What version of fingerprintjs are you using?
--> 3.3.2

### Fingerprint data

We have very strict policies on our page and are not allowing `inline-styles`.
But while us

[2022-01-20 14:27] Finesse commented on #733
Hi @danielstorch. The code you show is a part of the [dom_blockers](https://github.com/fingerprintjs/fingerprintjs/blob/master/src/sources/dom_blockers.ts) entropy source. The library creates HTML elements with the given attributes (that include `style`) to check which ab blockers are used in the browser, and uses this information to identify the visitor. That is, the library doesn't affect the lo

[2022-01-20 15:00] danielstorch commented on #733
Hey @Finesse, thanks for the answer and explanation. By your proposals you said `Remove the inline style policy`. Did you mean to `add` it?

[2022-01-20 15:27] danielstorch commented on #733
Thats perfect, thanks :+1:

[2022-01-21 11:34] yaohwu opened #734 "make ad-dom blockers look safer in some web security detectors"
The feature, using ad-blocker component to generate fingerprint, is a fantastic idea.
https://fingerprintjs.com/blog/ad-blocker-fingerprinting/

But some web security detectors treat  ad-blocker filtering rules as unsafe web links.
Although such detect results are not credible, I have to do some work to make it look safer.
https://github.com/fingerprintjs/fingerprintjs/compare/v3.2.0...yaohwu:stri

[2022-01-24 10:10] makma commented on #734
Hi @yaohwu !
Thank you for the suggestion and your interest. Honestly, I'm not sure, I believe the author had reason not to add it to the library. My guess is it was quite unreliable. What's your opinion @Finesse?

[2022-01-24 10:12] makma commented on #728
Closing due to the lack of response.

[2022-01-24 13:52] Finesse commented on #734
Hi @yaohwu. We've never faced such feedback before. Could you please provide links to or the names of the security detectors? The change introduces some difficulties in the maintenance process (the list of ad blocking filters is updated periodically), so I want to make sure that the change is worth the difficulties or find for a better solution.

P.S. Your code reimplements the built-in [atob](htt

[2022-01-24 16:32] AdamaTNT commented on #728
Hey, just saw that this got closed. I think there is a misunderstanding as it's not just different versions of the browser that's the issue. The issue is different devices that use Firefox. Whether they use similar or different devices is incidental.

Am I missing something? I thought different devices would show different geometry fingerprints.

[2022-01-25 02:15] yaohwu commented on #734
Thank you for your code advice.

The web security-detect service is provided by a cloud provider named [天翼云](https://www.ctclouds.com/) in China. If the web page static resources appear content like 'a[href*="//playdsb. com/ke"]', the service will report unsafe messages. The website [playdsb.com](http://playdsb.com) is illegal in China.

I also think this report is not credible, but I have to fix

[2022-01-25 10:38] makma commented on #728
Hi @AdamaTNT ,
When different browsers use the same logic that handles the rendering of canvas and the result is the same, we use the same entropy source in the FingerprintJS.

**Example 1**
Firefox v.88 - on device A (e.g., Win 10), Firefox v.95.0.1 - on device B (e.g., Win 10) - The canvas might be the same if the browser's logic processes canvas the same way.

**Example 2**
Firefox X on Win 10,

[2022-01-25 15:16] Finesse commented on #734
Thank you for the information. We don't think that this issue is important for us at the moment. I'll leave the issue open to collect more feedback and see how important this issue is for other users.

For now I can suggest you using a post-processor to obfuscate the strings with links in the compiled code. Example transformation: `'a[href*="//playdsb. com/ke"]'` → `atob('YVtocmVmKj0iLy9wbGF5ZHNiL

[2022-01-26 01:42] yaohwu commented on #734
@Finesse  OK, thank you for your reply and advice.

[2022-01-27 22:03] Finesse commented on #672
@jyyang42 It's impossible for FingerprintJS v3.3.0 or newer to produce an `InvalidStateError: Failed to execute 'startRendering' on 'OfflineAudioContext': cannot startRendering when an OfflineAudioContext is closed` console message. All the errors produced by `context.startRendering()` are caught and saved into the `components.audio.error` field of the `get()` result.

Could you please check it on

[2022-01-31 21:24] #733 closed

[2022-01-31 21:28] Finesse commented on #733
The fix will be published in the next release

[2022-02-10 08:06] danielstorch commented on #733
@Finesse when do you plan to create a new release with this change?

[2022-02-10 08:08] Finesse commented on #733
@danielstorch No plans yet. If you want to use the newest code now, please download the code and [build the code](https://github.com/fingerprintjs/fingerprintjs/blob/master/contributing.md#how-to-build) by yourself.

[2022-02-11 19:02] MaximeFrancoeur opened #740 "Chrome 100 ( User-Agent Reduction Origin Trial and Dates )"
Hey what is your plan about this -> https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html

Did you already made change in FingerprintJS?
Version 3.3.2

![jsfp](https://user-images.githubusercontent.com/5606361/153653281-562489e6-fa28-40e0-a118-f7f773fc0bb8.png)

[2022-02-14 06:11] Finesse commented on #740
Hi @MaximeFrancoeur. What exact concern do you have: potential fingerprinting accuracy problems or the issue in the Developer Tools itself?

There is no development version of Chrome 102 yet, so we can't check how FingerprintJS will behave in Chrome 102. FingerprintJS doesn't use user-agent for identification, so the UA reduction won't affect the accuracy.

We will return to this issue when a deve

[2022-02-14 14:03] MaximeFrancoeur commented on #740
Hi @Finesse I just share the information because I saw in the fingerprintJS few functions use navigator.* function.

[2022-02-15 11:08] makma commented on #728
Closing due to the lack of response.

[2022-02-15 11:08] #728 closed

[2022-02-15 19:08] eduardoportilho opened #743 "TypeError: can't access dead object"
### Scenario

- What's the scenario, what happens and what did you expect to happen?

The following error is being reported in my app logs:
[code]

- What device and browser are you using?

*Device*: Mac OS X 10.15
*Browser*: Firefox 96.0
*User-Agent*: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0

- What version of fingerprintjs are you using? (Bug reports not

[2022-02-16 01:48] Finesse commented on #743
Hi @eduardoportilho. Your issue looks very similar to https://github.com/fingerprintjs/fingerprintjs/issues/691. Please look through that thread, it should help fix your case. If it doesn't, please provide us more specific steps and code examples to reproduce the error.

[2022-02-16 15:09] eduardoportilho commented on #743
Hello @Finesse. This issue was caught in production and it has happened several times, but I couldn't find a way to reproduce it based on the logged info. I know that it only happens in Firefox in this line of (un-minified) code:
[code]
Maybe the user has some kind of browser extension that is causing it? I'll try to catch the error as suggested in the linked issue and see if I can get more inform

[2022-02-17 09:25] Finesse commented on #743
@eduardoportilho Could you please provide a code snippet that shows how you use the library? Do you run it in an iframe or other unusual conditions?

[2022-02-17 09:29] Finesse commented on #743
@eduardoportilho The error messages can be cause by [an issue](https://github.com/fingerprintjs/fingerprintjs/pull/716#issuecomment-986898796) fixed in version 3.3.1. Please try to update the library and check whether the error still occurs.

[2022-02-17 12:11] eduardoportilho commented on #743
Sure:
[code]

No, regular conditions.

[2022-02-17 15:27] Valve commented on #743
@eduardoportilho as a side note, it looks you're using FingerprintJS in a React application.
Would you be interested to try out our new React integration that integrates all the best/recommended practices?
https://github.com/fingerprintjs/fingerprintjs-pro-react
@borislobanov92 is the engineer who created it, he can answer your questions around React usage and explain how to use the integration in

[2022-02-17 15:36] eduardoportilho commented on #743
@Valve sure, I can propose this to our team

[2022-02-24 08:55] Finesse commented on #733
@danielstorch The change was published in version 3.3.3

[2022-02-25 17:40] vietnguyen09 opened #747 "What is the best approach to use FingerprintJS"
Hi guys,

As far as we know, FingerprintJS will generate an ID based on the client's information. And according to the excellent video guide, we can put this ID into a hidden input field, send it to the server, and use this `visitorID` to get the client's info from API.

My question is simple, what if I open developer tools (F12) and change the hidden input value that contains `visistorID`?
Or usi

[2022-02-25 18:07] Valve commented on #747
Hi @vietnguyen09
Thanks for your question 👍🏻
Can you please create a discussion from it and close this issue as it's not a technical bug of FingerprintJS?

[2022-02-25 18:08] #747 closed

[2022-02-28 04:16] Finesse commented on #743
@eduardoportilho Did you try to update the library to version 3.3.3?

This is incorrect because a new library instance will be created on every render. You need only 1 instance of FingerprintJS. You should call `FingerprintJS.load()` inside a `useEffect` hook. As you get a fingerprint as soon as the component is mounted, you can put `FingerprintJS.load()` inside `getFingerprint`.

Please fix this

[2022-03-08 15:30] MaximeFrancoeur commented on #740
@Finesse did you check with Chrome 99?

[2022-03-08 15:30] #740 closed

[2022-03-08 16:09] Finesse commented on #740
@MaximeFrancoeur What do you mean I should check in Chrome 99?

As I said, I’m waiting for the release of the development version of Chrome 101 to check the UA reduction.

[2022-03-15 11:44] MaximeFrancoeur commented on #740
@Finesse
Chrome version 101 beta is on beta channel, if you want to test.

[2022-03-21 09:51] miniyk opened #755 "Uncaught (in promise) Error: Subscription not active"
when i dev mode, also visit localhost,occur;
i use this way to add lib;
![image](https://user-images.githubusercontent.com/5811447/159237923-96bcd706-5042-45de-a70c-8e1203a8b267.png)

this is the error:
![image](https://user-images.githubusercontent.com/5811447/159237636-233784fb-2581-47b2-90c1-893aef3e40c3.png)

note: i register the free pro version

[2022-03-21 10:59] makma commented on #755
Hello @miniyk, please, send an email to our official support support@fingerprintjs.com with your subscription identifier. Also, please check (in the dashboard) if your subscription is in the `ap` (Asia) [region](https://dev.fingerprintjs.com/docs/regions).

[2022-03-21 19:54] maucaro opened #756 "Same fingerprint on Chrome and Edge"
### Scenario

- On my dev machine I am seeing the same fingerprint (e53c0bf68881a3d89017792d56e238f2) generated for both Chrome and Edge. I do see a different fingerprint on Firefox. I was expecting all 3 to be different.
- This happens on Windows 10.0.19043 Build 19043, Edge is Version 99.0.1150.46 (Official build) (64-bit) and Chrome is Version 99.0.4844.74 (Official Build) (64-bit).
- I am usin

[2022-03-23 09:52] makma commented on #756
Hi @maucaro,
This is a valid scenario. It might happen that two different browsers, especially on the same device with the same engine (Chrome and Edge on Windows10 use Chromium), generate the same identifier. This is a known (and by design) behavior and is caused by the same signals (entropy sources). The accuracy of open-source FingerprintJS is approximately 60%. If you need better accuracy you

[2022-03-23 10:01] Finesse commented on #756
I'll search for a way to tell Edge from Chrome without using the User-Agent

[2022-03-23 14:45] Finesse commented on #756
@maucaro I haven't found a reliable way to tell Edge from Chrome without using the User-Agent. User-Agent is very likely to change so we don't use it.

If User-Agent is ok for you, you can add a custom entropy component by following the [extension guide](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md).

It is not important for the library to tell one browser from anot

[2022-03-23 19:54] maucaro commented on #756
This works; feel free to close. Thanks for the answer.

[2022-03-25 10:04] #755 closed

[2022-04-11 08:54] danielstorch commented on #672
Hey @Finesse, we are using fingerprintjs version 3.3.3 and we are still seeing this in the browser console/sentry. As i can see from sentry, it is caught by the the `onunhandledrejection` method. There are a bunch of different user agents reporting this error.

Here are some example user agents:

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.2

[2022-04-13 06:50] Finesse commented on #672
@danielstorch Could you please check that stacktrace and make sure the error is produced inside the FingerprintJS code

[2022-04-13 13:53] Finesse commented on #740
@MaximeFrancoeur No sign of UA reduction in desktop Chrome 101 beta, desktop Chrome 102 dev.

Android Chrome 101 beta discloses only the major version in the UA string (which is not a part of the fingerprint). The entropy components aren't changed.

So, no action is required.

[2022-04-18 08:46] albanx opened #761 "Fingerprint lighthouse performance impact"
// this is a report rather than a bug

### Scenario
I have an angular application and during some performance analysis with Lighthouse I found out that fingerprint impacts the Performance score from 8 to 10 points (which is actually a lot).

Fingerprint impacts the performance
- What's the scenario, what happens and what did you expect to happen?
Mobile simulation with lighthouse median device spe

[2022-04-18 15:56] Valve commented on #761
@albanx thanks for submitting this issue.
This doesn't answer your question, but I wanted to note that the lighthouse builds a score assuming a CPU that's 4X slower than your real CPU: https://web.dev/discover-performance-opportunities-with-lighthouse/#:~:text=Lighthouse%20doesn't%20actually%20throttle,less%20powerful%20than%20your%20machine's.

[2022-04-19 07:52] Finesse commented on #761
Hi @albanx. Could you please clarify what exactly your concern is about. Do you want the FingerprintJS library to do the same job consuming less resources? Or do you want to improve the Lighthouse score?

Please share some details about how you use FingerprintJS. Do you use NPM or the CDN? When do you call `load()` and when do you call `get()` (when the page starts, when a button is clicked, etc)?

[2022-04-19 08:48] albanx commented on #761
Hi guys, first thanks for the prompt reply. Let me post some of my findings, later on I will come back with a full analysis:
[code]

This is literally my code. The fingerprint is called after the page has been rendered.

Activating the above call, increases the TBT (total blocking time) by **1.2 seconds** on low end devices, most probably because the library does some computation that take more th

[2022-04-19 11:23] Finesse commented on #761
@albanx I'm don't know Angular well enough so I only can give you a general strategy advice.

FingerprintJS starts collecting the entropy components (that form the fingerprint) when the `load` function is called. Collecting the components is a resource-consuming process, some blocking operations can't take less than 50ms on low-end devices. You run the process when the page starts, that's why the

[2022-04-19 11:31] albanx commented on #761
Angular itself it is not a problem.

I tried that as well with 5 seconds interval:
[code]
but did not work at 100%, was giving aleatorian results some time increasing the score by 4 points.

also I moved the FP call directly in index.html, this gave better results.

I will the thread you suggested to seem the improvement. In the mean time thanks for the reply, we can close this ticket. As I said t

[2022-04-19 11:31] #761 closed

[2022-04-19 11:50] Finesse commented on #761
@albanx You can also do the fingerprinting in response to a user action. Lighthouse won't run the fingerprinting script, therefore the score will improve. The only performance impact will be caused by including the library code to your page. But it can be avoided too by loading the code dynamically, for example:

[code]

[2022-04-19 11:52] albanx commented on #761
actually that is a good idea. I will try that and measure the scores. thanks

[2022-04-24 19:52] gary00k opened #762 "Same id on different browsers?"
Hello, I tested demo version of FP Pro and I see a problem. On different browsers, ID is different too. Is there any possibility to identify client device, not only browser?

[2022-04-25 09:45] makma commented on #762
Hey @gary00k, for the majority of platforms, FingerprintJS Pro is a browser fingerprinting service. It means it can provide you with a higher granularity (distinguish among various browsers on the same device vs. different devices).

The exceptions might be mobile platforms (native [iOS](https://github.com/fingerprintjs/fingerprintjs-pro-ios), [Android](https://github.com/fingerprintjs/fingerprint

[2022-04-27 05:23] cxytomo commented on #633
the problem is `components` no longer meets the ts type validation of `UnknownComponents`
`export function hashComponents(components: UnknownComponents): string {
  return x64hash128(componentsToCanonicalString(components))
}`

[2022-04-27 07:42] Finesse commented on #633
@cxytomo Please give a full reproducible code example

[2022-04-29 06:10] cxytomo commented on #633
<img width="659" alt="image" src="https://user-images.githubusercontent.com/2089688/165892556-875056e4-8ccd-445b-b0a2-9a5a9f8c6d0a.png">
<img width="528" alt="image" src="https://user-images.githubusercontent.com/2089688/165892733-6de31853-c005-4030-bbc6-5beb4b5cbbe2.png">
<img width="726" alt="image" src="https://user-images.githubusercontent.com/2089688/165892768-39bcae2f-a566-43ea-ab1e-9a8a96f6

[2022-05-02 12:54] danielstorch commented on #672
@Finesse Sorry, i don't have any stacktrace available. If the error occurs again, i will comment here.

[2022-05-08 04:45] kanlancb opened #766 "ID lifetime for fingerprint"
### Scenario

- What's the scenario, what happens and what did you expect to happen?
   I am a bit confused about the wording in the documentation for the ID life time of a fingerprint. It says several weeks but why would a fingerprint change even in this period of time?

- What device and browser are you using?
   Macbook Pro, google chrome

- What version of fingerprintjs are you using?
   v3.3.

[2022-05-08 05:59] kanlancb opened #767 "Create a demo using React to further help beginners understand how to integrate fingerprintjs"
Hello,

As the title says, although experienced people can easily integrate fingerprintjs with their react applications, I think it would be better if we add demo's showing how fingerprint can be integrated with other popular frameworks like react, angular and such.

I can immediately make one demo with react and give it a pull request, while doing changes in the readme to integrate the new demo a

[2022-05-09 09:45] makma commented on #766
Hey @kanlancb,
A fingerprint issued by open-source FingerprintJS is calculated based on the current environment. The library collects signals from your environment and based on these pieces of data it calculates fingerprints. If something changes with your environment, the provided signal might change which results in the changed fingerprint. Please note, that I haven't used the term browser, I'd

[2022-05-09 10:12] makma opened #768 "Unstable canvas geometry entropy source in Safari"
### Discussed in https://github.com/fingerprintjs/fingerprintjs/discussions/765

In Safari, canvas geometry data changes in the same environment which results in different fingerprints. It seems these two fingerprints are stable.

#### Environment

- Big Sur 11.1
- Safari Version 14.0.2 (16610.3.7.1.9)
- No extensions

#### Steps to reproduce https://github.com/fingerprintjs/fingerprintjs/discussi

[2022-05-10 08:17] makma commented on #766
Marked as solved [here](https://discord.com/channels/852099967190433792/852100862134583336/973451751548133416).

[2022-05-10 08:17] #766 closed

[2022-05-10 12:04] DerZyklop opened #769 "stackshare.io entry is missing"
I think there should be an entry in stackshare.io. I was surprised, that there is none.

➡  https://stackshare.io/submit

[2022-05-10 16:26] makma commented on #769
Hey @DerZyklop,
Thank you for bringing this to our attention. I submitted both, open-source FingerprintJS and FingerprintJS Pro. fyi @Valve

[2022-05-10 16:37] makma commented on #767
Hey @kanlancb! Thank you for this suggestion and initiative! I think this is a really good idea and it might be a useful project.

As far as I know (pls, correct me if I'm wrong Sergey) we don't want to include framework-specific code/examples in the main repository. Nevertheless, if you could prepare a separate example repository with documentation and demo, I assume we would link it from our rea

[2022-05-12 07:36] JsfasdF252 commented on #767
[🧏‍♂️]()

[2022-05-12 11:15] kanlancb commented on #767
@makma Any further thoughts on this?

[2022-05-13 01:14] Finesse commented on #767
@makma I think that it doesn't make much sense to put effort into making and maintaining separate repository(s). I'd put code examples into the [docs](https://github.com/fingerprintjs/fingerprintjs/tree/master/docs) directory and maybe create interactive demos using StackBlitz (like it's done with the code examples in the readme). StackBlitz is a nice solution for small demos, and I think that the

[2022-05-13 07:53] makma commented on #767
Hello everyone!
I like the StackBlitz idea and the docs approach, what do you think @kanlancb?

[2022-05-13 13:05] kanlancb commented on #767
Sounds good, let me do it from my personal account @kanlanc

[2022-06-01 17:42] Jamshid5614 commented on #755
hi guys, I am also facing the same problem

[2022-06-16 07:16] enes-get-local opened #772 "Fingerprint Pro fails in Safari version 15.2"
@fingerprintjs/fingerprintjs-pro : ^3.6.3
Safari : version 15.2
[code]
FingerPrint get function return undefined for every first call.

`Uncaught (in promise): Error: Client timeout`

After a couple minutes later, it works when refresh the page

[2022-06-16 11:37] Oleg-Kasianets-3DLOOK commented on #772
The same problem!

`@fingerprintjs/fingerprintjs-pro : ^3.6.3`
`Safari : version 15.2`

[2022-06-16 12:43] makma commented on #772
Hello @enes-get-local, @Oleg-Kasianets-3DLOOK!

I tested the npm approach with Safari 15.4 and 15.2. I also tried to use the subdomain setup but I couldn't reproduce your reported issue.

Could you please:
1.) Provide us with minimal steps to reproduce the issue and
2.) Try to switch to the default endpoint temporarily and let us know if the issue persists.

Thank you in advance!

[2022-06-16 14:48] antonioberetini commented on #772
@makma I am noticing that we have a single subdomain configured in our panel, but this specific application lives on a different subdomain. Should we add the other subdomain too? Also is this really causing a problem since Chrome works just fine on MacOS?

[2022-06-16 15:46] makma commented on #772
Hello @Oleg-Kasianets-3DLOOK!

Thank you for the more detailed info.
Sadly, I still was not able to reproduce it on my machine and test websites. Please send us the URL of your website where we can observe the behavior. That would help a lot.
Thank you.

Email: support@fingerprint.com

[2022-06-17 10:02] makma commented on #772
Hey @antonioberetini,
There's no need to add another subdomain setup.
There's no difference in functionality. All following examples should work the same way:

### Example 1
Page with FingerprintJS Pro JS agent: `example.com`
Subdomain endpoint: `fp.example.com`

### Example 2
Page with FingerprintJS Pro JS agent: `account.example.com`
Subdomain endpoint: `fp.example.com`

### Example 3
Page with

[2022-06-18 06:20] ahmedyounes opened #773 "pro not working with AdBlock"
Fingerprint js pro version is not working while there is adblock extension enabled , is there any way to overcome this extension ?
i didnt have this issue with fingerprintjs normal version .

[2022-06-19 18:34] makma commented on #773
Hey @ahmedyounes,
Did you set up Subdomain integration correctly?

From docs:
Using a subdomain is required for correct identification while using FingerprintJS Pro.

src: https://dev.fingerprint.com/docs/subdomain-integration

[2022-06-20 13:36] ahmedyounes commented on #773
@makma  thanks for the guide i will do it

[2022-06-20 13:36] #773 closed

[2022-06-25 12:37] lintangtimur opened #776 "Error: Network connection error"
### Scenario

- What causes the fingerprint to change?
Using example code from homepage
- What device and browser are you using?
chrome browser windows 10
- What version of fingerprintjs are you using? (Bug reports not applicable to fingerprintjs master are subject to be closed without comment)
fingerprintjs pro

### Fingerprint data
[code]

this is the result
![image](https://user-images.githubus

[2022-06-26 17:04] Vectivuss opened #777 "FingerprintJS is not defined"
### Scenario
What happens when i run the code: ```[HTML] data:text/html;charset=utf-8,%09%3Cscript%20src%3D%22https%3A%2F...:4: Uncaught ReferenceError: FingerprintJS is not defined```

### Fingerprint data
[code]

[2022-06-26 17:31] #777 closed

[2022-06-28 05:07] Finesse commented on #776
Hi @lintangtimur. What browser extensions do you use? Please try to disable the extensions and try FingerprintJS again (extensions are disabled in incognito mode in Chrome by default).

[2022-06-28 05:12] Finesse commented on #767
@makma Is there any progress on this issue? We should either add examples to the docs, or close the issue.

[2022-06-28 05:13] Finesse commented on #762
Closing due to the lack of activity

[2022-06-28 05:13] #762 closed

[2022-06-28 16:06] lintangtimur commented on #776
tried in Incognito mode also produces the same results as the report above. The extension I use has adblock

[2022-06-28 17:56] Valve commented on #776
@lintangtimur is your ad blocker plugin enabled in incognito mode too?
If yes, that's the reason why the requests to our API are blocked.
To fix this, please implement a custom domain according to docs: https://dev.fingerprint.com/docs/subdomain-integration

[2022-06-29 00:42] lintangtimur commented on #776
Hi @Valve ,
ad blocker not running in incognito mode

[2022-06-29 00:55] Valve commented on #776
@lintangtimur I cannot reproduce this. Can you reproduce it with all your browsers?
Please let us know the browser version, the fingerprintjs pro version that you're using.
We need a reproducible example.
The API name is resolving on my end:
<img width="394" alt="image" src="https://user-images.githubusercontent.com/27387/176328351-98c714fd-39c8-4a89-86a5-5d3138a86ddc.png">
So I believe the issue

[2022-06-29 00:55] #776 closed

[2022-06-29 05:35] kanlanc commented on #767
Hello, @Finesse  @makma , very for the delay will make a PR by this week tops

[2022-06-29 09:35] Finesse commented on #767
@kanlanc What are you going to do in the PR?

[2022-06-30 08:54] kanlanc commented on #767
@Finesse Add a react sandbox example and update the readme to reference the same

[2022-07-01 22:12] Zaniyar commented on #264
Can we reopen this question?
I have the same question - can someone fake the generated hash (obviously yes) and could this hash be fake checked? I want to prevent a device from stealing another devices identity.

[2022-07-01 22:37] Valve commented on #264
Hi Zaniyar,

The open-source version lacks the verification ability, whereas the pro version (free subscriptions are available) can be verified server-side.
You can even enable the "[zero-trust mode](https://dev.fingerprint.com/docs/zero-trust-mode)" to have fingerprints be delivered to your backed securely.
You can use the pro version for free here (no credit card required): https://dashboard.fin

[2022-07-04 05:42] Arjun-Ghimire opened #781 "Ads blocker detects it and blocks from accessing the module"
### Ads blocker detects it and blocks from accessing the module

![image](https://user-images.githubusercontent.com/82378187/177088531-4f3c7f19-b553-4ee9-9407-86e27f2c931e.png)

### Fingerprint data

Adblocker is preventing from loading loading the data from the domain openfpcdn.io please do something to solve this! thanks!

[2022-07-04 10:53] Arjun-Ghimire commented on #781
It doesn't work with ublock origin ads blocker please fix this asap!
https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en

[2022-07-04 14:55] Valve commented on #781
@Arjun-Ghimire thanks for letting us know about this issue. We cannot make changes to an external product such as uBlock.
You have several options to fix this:
-- [Use the NPM installation option for FingerprintJS](https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/api.md#webpackrollupnpmyarn)
-- [Use the free tier for FingerprintJS Pro](https://dashboard.fingerprint.com/signup), whic

[2022-07-04 14:55] #781 closed

[2022-07-04 15:32] Arjun-Ghimire commented on #781
Hello valve,
I am using asp.net core blazor. There is no option for npm install and I don't want to use FingerpintJS pro so can you please help me with the process how I can fix this problem please?

[2022-07-04 15:51] Valve commented on #781
@Arjun-Ghimire if you cannot use an NPM package, the only option is to self-host the script on your own domain. Note that it will make your script quickly outdated and it will stop working with new browsers as they get released in the future.

[2022-07-04 15:56] Arjun-Ghimire commented on #781
Hello Valve, I already tried by self hosting the script but still it doesn't works which means there is some content on the script itself that is preventing it from ads blocker may be you need to review?

I just need to point this

const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3')
        .then(FingerprintJS => FingerprintJS.load());

---- to

const fpPromise = import('https://dlmo

[2022-07-04 15:58] Valve commented on #781
@Arjun-Ghimire Yes, that's correct. One clarification, you should use the `esm` version of the script in order for the import to work. You can find it here: https://openfpcdn.io/fingerprintjs/v3.3.3/esm.min.js

[2022-07-04 16:07] Arjun-Ghimire commented on #781
Please look at this
![image](https://user-images.githubusercontent.com/82378187/177189909-c47165bf-99eb-4c88-9031-e38de8085b60.png)

I tried the same thing as you said, I hosted the script on my own domain still it doesn't work.

Please help me  with some solutions, I need to solve this problem asap!

[2022-07-04 16:21] makma commented on #781
Hey @Arjun-Ghimire,
The error you posted is not related to the FingeprintJS. It's related to Blazor. Enabling `CircuitOptions.DetailedErrors` in your `appsetting.whatever.json` might give us more hints, nevertheless, this issue is not related to our library. From my perspective (and limited knowledge), you registered the scripts in the Blazor context in the wrong way. Having said that, this is out

[2022-07-05 05:03] Finesse commented on #781
@Arjun-Ghimire The `https://dlmonitize.com/fingerprint.js` URL is blocked by [EasyList Privacy](https://easylist.to/easylist/easyprivacy.txt) too. The blocking rule is `/fingerprint.js` which means that the `/fingerprint.js` path on any domain name is blocked. Change the script file name to something not related to fingerprinting.

[2022-07-12 03:53] luleipo opened #785 "如何在旧得jsp项目中获取指纹呢？"
在旧的jsp项目中，如果通过js获取指纹呢？

[2022-07-12 08:42] makma commented on #785
Hello @luleipo,
Please, file your issues or questions in English.

[2022-07-12 08:42] #785 closed

[2022-07-16 02:29] entoncescomo1001 commented on #563
Duplicate of #
Duplicate of #

[2022-07-16 11:54] kanlanc commented on #767
Hello @Finesse @makma ,

Here is the stackblitz url: https://react-ts-kxunqg.stackblitz.io

Please let me know if you want me to add or change something and meanwhile please let me know, the emails I will need to share the permissions to.

[2022-07-16 11:55] kanlanc commented on #767
I will update the readme once I receive the go signal for the demo

[2022-07-20 14:31] makma commented on #767
Hey @kanlanc,
The demo and code look good to me. For other folks, the original code can be found here: https://stackblitz.com/edit/react-ts-kxunqg?file=App.tsx.
@kanlanc feel free to add a readme with your handle or some other kind of attribution if you want. Also, please include the MIT license to the stackblitz project. Once you are done, share the link with me on this thread, I'll fork it and t

[2022-07-26 08:16] danielstorch commented on #672
@Finesse We again see this error. This time the code snippet where it happens was logged:
[code]

[2022-07-26 08:23] Finesse commented on #672
@danielstorch Do you know whether the `get()` promise is rejected or the entropy source emits an error in this case? If the entropy source fails, you'll see something like this in the result object:

[code]

[2022-07-26 15:55] dvf commented on #762
Even on Pro, I get a different id when using Safari and Chrome on the same device. Subdomains have been set up.

Inspecting the payloads, every key is identical except the `userAgent`.

[2022-07-26 16:05] makma commented on #762
Hello @dvf,
The `visitorId` (from Fingerprint Pro) and `fingerprint` (from FingerprintJS open source) are browser identifiers (not device identifiers). Therefore different `visitorId`s (or `fingerprint`s) for different browsers on the same device are correct and expected behavior.

[2022-07-26 21:03] dvf commented on #762
Thanks for the response @makma, but I'm not sure I understand the sales offering then. All the advertised anti-fraud use cases are not pertinent then, since all someone needs to do to confuse this library is use a different browser.

[2022-07-26 21:28] Valve commented on #762
@dvf you can identify any browser on the planet and give it a unique and permanent ID. If someone uses 2 browsers, you'll deal with a collection of two identifiers, but it is still a small collection. Even if an attacker is using multiple browsers, we still deal with a short array of browser IDs, which are easy to iterate, check and compare.
We reduce the problem space from "we have to deal with u

[2022-07-27 05:00] makma commented on #762
@dvf Another perspective is protecting known and trusted users and putting obstacles in the way of fraudulent users.

To be more specific, let's consider two widespread frauds. Account takeover and credit card fraud. In both, the malicious parties try to use some data that does not belong to them (credentials, credit card data, other personal data, etc...). As an owner of the service (that impleme

[2022-07-27 08:27] danielstorch commented on #672
@Finesse unfortunately I do not know that. We currently only care about the fingerprint in the result object and sentry only logs this error above.
Soon we will improve our logging and also submit the components. If this is implemented and it happens again, i will comment here. For now i don't have further information

[2022-07-27 16:57] dvf commented on #762
Thanks for your detailed responses. Here's what I'm not understanding: why not have the same `visitorId` but different browser identifiers.

It's weird to me to see two almost identical payloads with the only differing field being the `userAgent`. The `visitorId` should be the same with a high confidence score.

[2022-07-27 16:59] dvf commented on #762
The use case here is that if a user visits your website, and chooses to download your app, it's easy to do attribution because you know which visit led to which download. I think this would be a major use case for companies considering your Pro offering. Happy to chat more about it.

[2022-07-27 17:02] Valve commented on #762
We're working on the multiple browser use case, but thinking about linking browsers together, instead of generating a single ID.
In your example two browsers are very similar, but that's a coincidence, there are a lot of cases where browsers have completely different signals. We want to retain the ability to accurately identify individual browsers but at the same time add the ability to detect tha

[2022-07-28 08:15] acs1899 commented on #734
I have the same problem
@yaohwu Have you solved this problem?

[2022-07-28 08:30] yaohwu commented on #734
I wrote an empty dom blocker module instead of [src/sources/dom_blockers.ts](https://github.com/fingerprintjs/fingerprintjs/blob/ff01390e628cf3f9c5caf22b7349513e78ae5d9d/src/sources/dom_blockers.ts)

Just make the new empty dom blocker module function `getDomBlockers` return `undefined`.

Easy but works.

[2022-07-28 08:37] acs1899 commented on #734
@yaohwu OK, Tks

[2022-07-28 08:38] yaohwu commented on #734
https://github.com/fingerprintjs/fingerprintjs/commit/7d42dc9183de430acd45e1269da5f2156349843c

[2022-08-01 06:25] mmsm1381 opened #791 "Samsung Internet: unstable fingerprint because of a canvas randomization"
### Scenario

 when you login from  Samsung Internet finger print varies every time
 Samsung Internet
version 3.3.4

[2022-08-02 03:56] Finesse commented on #791
Hello @mmsm1381. I can't reproduce this. Provide steps to reproduce the bug please. Send us debug data for the different fingerprints also so that we can see what causes the fingerprint change. You can get debug data by visiting https://fingerprintjs.github.io/fingerprintjs in Samsung Internet and tapping "Copy Debug Data".

[2022-08-02 12:25] mmsm1381 commented on #791
i tried with your link in both google chrome and samsung internet. in google chrome it was fine but in other one with every refresh i got new finger print i will shared data below

[2022-08-02 13:39] Finesse commented on #791
Try printing the fingerprint components in addition to the visitor id on your website:

[code]

I need to know which components are different in your case.

[2022-08-03 22:58] kj7rrv opened #792 "No, don't use it for fraud"
From the README:

I don't think that's what it's supposed to say. It looks like it should say "use the identification for fraud prevention".

[2022-08-04 03:48] Finesse commented on #792
@kj7rrv You are right, thank you

[2022-08-04 08:06] makma commented on #792
Needs to be fixed also here: https://github.com/fingerprintjs/fingerprint.com/blob/0130b8a0466a393a6ef10f33d473356bf3192476/src/components/githubPage/FeatureComparisonSection/FeatureComparisonSection.tsx#L116

[2022-08-04 09:28] #792 closed

[2022-08-04 19:28] marcoadkins opened #794 "Fingerprint changes between chrome tabs due to plugins and platform"
### Scenario

- What causes the fingerprint to change?
  - Different chrome tabs
- What device and browser are you using?
  - Chrome: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36`
- What version of FingerprintJS are you using? (Bug reports not applicable to FingerprintJS master are subject to be closed without comment)
  - F

[2022-08-05 11:43] Finesse commented on #794
@marcoadkins Thanks for reporting this.

The different visitor ids in cases 2 and 3 are caused by your macOS Dock changing its height. You got more applications open, the Dock started shrinking to fit more icons (or vice versa). The Dock size is one of the fingerprint components, so this is an expected behavior. FingerprintJS rounds the Dock height to mitigate the unstable height, but it can't sta

[2022-08-05 11:57] Finesse commented on #767
@kanlanc Any progress on this?

[2022-08-05 15:02] marcoadkins commented on #794
@Finesse I didn't even notice the diff on screenFrame. Nice catch. Alright I can disable that probably for my use case.

So this issue was reported by my QA Engineer and I am also not able to reproduce it. He was able to easily make it happen by opening a new chrome window and then another tab. No configuration changes or emulation. After working with him more on it he was able to produce the same

[2022-08-08 04:33] Finesse commented on #794
@marcoadkins I can't reproduce the `Native Client` plugin, sorry. It was removed in Chrome 94. The list of plugins is [hard-coded](https://github.com/chromium/chromium/blob/183db821b7db162953163236999f1a43c70fd768/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc#L185) now. If you can, please find a way to reproduce this.

It's ok. Both browsers should return the same `plugins` value

[2022-08-08 19:16] marcoadkins commented on #794
@Finesse It looks like native client can still be enabled via experimental flags at `chrome://flags/`. But I had my QA engineer check his settings and its marked as disabled. So 🤷🏻

[2022-08-09 11:34] Finesse commented on #794
I've conducted a research on the data from FingerprintJS Pro (which uses the `plugins` signal too). The result is that the chance of the plugins to change in Chrome 103 is only 0.07%. This is too low to worry about, so I'm closing the issue. You may exclude this entropy source if you want.

FingerprintJS v3.4.0 will have a new entropy source based on [navigator.pdfViewerEnabled](https://developer.

[2022-08-09 16:24] marcoadkins commented on #794
@Finesse Thanks for that data. Would be nice if that data was public because its hard to determine when dropping a component might have too much of a negative impact on uniqueness.

Alright I'll def grab that new version once it drops.

Noted. Thanks for giving it a good look.

[2022-08-10 15:14] Finesse commented on #794
@makma FYI: https://github.com/fingerprintjs/fingerprintjs/issues/794#issuecomment-1209601546

[2022-08-13 16:09] kanlanc commented on #767
Yes, will do it this weekend, got caught up at work

[2022-08-14 03:30] ngohgia opened #796 "hashComponents doesn't exist for the pro version"
### Scenario

- I want to extend the list of components as suggested here https://github.com/fingerprintjs/fingerprintjs/blob/master/docs/extending.md . But it looks like the fingerjs-pro (v3.7.0) doesn't have the `hashComponents` function that the open-source version does (v3.3.4)
- Here's what the code looks like:
[code]

[2022-08-16 15:46] kojibhy opened #798 "Iphone 13 same hash different env"
Iphone13 IOS 15.5
```Visitor identifier: `887574b88d67a80093d8ad062d1f4106`
Time took to get the identifier: 845ms
Confidence: {"score":0.3,"comment":"0.993 if upgrade to Pro: https://fpjs.dev/pro"}
User agent: `Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.5 Mobile/15E148 Safari/604.1`
Entropy components:
[code]

iphone 13 PRO
[code]
{

[2022-08-16 17:00] kojibhy commented on #798
when i use same but with ios 15.0 hash are different, also if i use iphone pro max hash different

[2022-08-16 17:06] Valve commented on #798
@kojibhy I don't understand your explanation, please provide more details.

[2022-08-17 08:45] makma commented on #796
Hey @ngohgia, that's correct. Fingerprint Pro does not have a custom extending functionality. Could you elaborate more on the use case?

From your code snippet, I can see you tried to add a `userId`. If you need to label your visitors with Pro, you can use [`linkedId`](https://dev.fingerprint.com/docs/js-agent#linkedid)s or [`tag`](https://dev.fingerprint.com/docs/js-agent#tag)s.

[2022-08-18 07:26] Finesse commented on #798
@kojibhy Browser don't provide enough data to tell identical devices with factory settings apart. FingerprintJS may assign different identifiers to such devices, but it's ok if it doesn't.

Please provide the debug data so that I can see what exactly makes the difference.

[2022-08-18 14:29] himansh-gjr opened #801 "Unable to get city from fingerprintJS"
### Scenario

- What's the scenario, what happens and what did you expect to happen?
    - **Scenario**
        we are trying to get user's accurate location using FPJS

[code]

    - **what happens**
              In this result object, we are getting fields like latitude, longitude, continent and country inside" ipLocation"
               response from FingerprintJS :

[code]
        but city ob

[2022-08-18 19:32] Valve commented on #801
@himansh-gjr can you please try again our demo and let us know if it correctly showed the city name?

[2022-08-19 05:18] himansh-gjr commented on #801
@Valve yeahh! It is working well now, thanks.

[2022-08-19 13:32] Valve commented on #801
@himansh-gjr I'm closing this PR since you said it's now working for you. Please feel free to reopen if something new comes up.

[2022-08-19 13:32] #801 closed

[2022-08-21 19:18] CodingMinds commented on #791
We've the same issue.
Here are three examples from a single browser. After every reload there was a new fingerprint.

[code]

[code]

[code]

[2022-08-23 09:35] #734 closed

[2022-08-24 09:27] Finesse commented on #791
@CodingMinds Thank you for the data. Both the canvas images changed in your case. I was able to reproduce this in Samsung Internet 17 on Galaxy S9 on BrowserStack, the images do change after each page reload. The browser changes a single random pixel of the canvas slightly.

I've found out that Samsung Internet does it on purpose. This behavior can be disabled in the browser setting: "Browsing pri

[2022-08-25 11:06] dupeiduo opened #806 "Nodejs server render will make 'atob is not defined'."
### Scenario

- What's the scenario, what happens and what did you expect to happen?
- What device and browser are you using?
- What version of FingerprintJS are you using? (Bug reports not applicable to FingerprintJS master are subject to be closed without comment.)

### Fingerprint data

If applicable, provide the FULL DATA of both/all fingerprints using this page: https://fingerprintjs.github.i

[2022-08-25 11:24] Finesse commented on #806
This is fixed by https://github.com/fingerprintjs/fingerprintjs/pull/805 and will be published in the next release.

For now please update Node.js to version 16 (it supports `atob`) or add an `atob` polyfill/stub to your application.

[2022-08-25 11:24] #806 closed

[2022-08-25 15:19] himansh-gjr commented on #801
Hii @Valve , It's great that the issue has been resolved but I am curious to know more about the issue.
It would be great if you can share
1. why does the issue occur?
2. how did you guys fix the issue?

[2022-08-25 15:20] Valve commented on #801
@himansh-gjr this issue existed because we used an older version of the API the we use to geolocate the IP addresses.
Once we upgraded to the latest version, it started working.

[2022-08-27 03:08] tvvocold opened #807 "`cookiesEnabled` returns `false` when runs in a cross-origin iframe"
### Scenario

- What causes the fingerprint to change?

- What device and browser are you using?

- What version of FingerprintJS are you using?

### Step to reproduce
1. create two local site named `finger1.test` and `finger2.test` with following code (note that in `finger2.test` has an iframe of `finger1.test`):
[code]
[code]
2. then visit `finger2.test`, you will see two different visitorIds in

[2022-08-27 06:00] Finesse commented on #807
Hello @tvvocold. What is the iframe URL on your screenshot? Please provide the fingerprint components:
[code]

[2022-08-27 07:03] tvvocold commented on #807
hi @Finesse,
the iframe is `finger1' html, you can easily reproduce this bug by creating two simple local site as I paste here ( including the components ) : https://gist.github.com/tvvocold/93060a46bb4392d62ea37e1fcca515f4

[2022-08-27 08:25] Finesse commented on #807
Thank you! I was able to identify the issue: the [`cookiesEnabled` entropy source](https://github.com/fingerprintjs/fingerprintjs/blob/master/src/sources/cookies_enabled.ts) gives `false` when FingerprintJS runs in a cross-origin iframe in Blink. When a single entropy component changes, the whole fingerprint changes. I'll check what we can do to stabilize it.

For now you can exclude the entropy c

[2022-08-27 10:21] Finesse commented on #807
I've tried this solution:
[code]

This is the result (the behavior of `areCookiesEnabled()` in a cross-origin iframe):

| | Regular mode | Incognito mode |
|---------|----------|--------|
| Chrome 104 | Fixed | The result is `false` regardless. `navigator.cookiesEnabled` is `false`, i.e. cookies are disabled completely |
| Safari 16 | The result is `false` regardless. `navigator.cookiesEnabled` is

[2022-08-27 10:21] #807 closed

[2022-08-27 12:23] tvvocold commented on #807
Hi @Finesse,
Thx for the answer, I try to exclude the `cookiesEnabled` entropy component, but it didn't work. The code is here:
https://gist.github.com/tvvocold/ef177ab2cc93eefc5d3b0104cc6a26ee
Am I missing something here?

[2022-08-28 01:57] tvvocold commented on #807
@Finesse Just found another issue with iframes, in Safari 15.6 (17613.3.9.1.5), the `vendorFlavors` is empty in iframes.
<img width="1429" alt="image" src="https://user-images.githubusercontent.com/4530539/187054158-602c9212-83b5-44a6-b2d0-dd8be8caf7c4.png">

Here is my testing code:

[2022-08-28 02:38] Finesse commented on #807
@tvvocold The situation is the same. If we exclude the `vendorFlavors` component, the library will lose some of the sensitivity. If you need a stable result, use FingerprintJS in a single environment (cross-origin iframes in your case).

[2022-08-29 03:52] tvvocold commented on #807
hi @Finesse,
Sorry to bother you again, just wanna know how to exclude the component in Promise like [the Readme's demo code](https://github.com/fingerprintjs/fingerprintjs#quick-start) , I'm trying the following code but it's not working,  an error said that `Uncaught (in promise) ReferenceError: FingerprintJS is not defined` with this line `FingerprintJS.hashComponents({ ...components })`

[code

[2022-08-29 04:16] tvvocold opened #808 "Unstable 'plugins' entropy source in Chrome incognito/private mode"
### Scenario

- What causes the fingerprint to change?

- What device and browser are you using?

- What version of FingerprintJS are you using?

### Fingerprint data

Pasted here: https://www.diffchecker.com/BJrdUafl

[2022-08-29 09:10] Finesse commented on #807
@tvvocold Yes, this is correct

[2022-08-29 09:13] Finesse commented on #808
Can you reproduce this is a stable way? If yes, please share the steps.

This looks similar to https://github.com/fingerprintjs/fingerprintjs/issues/794

[2022-08-29 09:38] tvvocold commented on #808
I can't, just tested it again, it is back to normal with two same ids, so weird.

[2022-08-29 10:41] Finesse commented on #808
We know that the entropy component is slightly unstable in Chrome. You can read more about it (with proposed solutions) at #794. We will probably replace it with [navigator.pdfViewerEnabled](https://github.com/fingerprintjs/fingerprintjs/pull/795) in v3.4.0. So I'm closing the issue.

[2022-08-29 10:41] #808 closed

[2022-08-31 05:19] tvvocold opened #809 "Unstable 'hdr' entropy source in"
### Scenario
- What causes the fingerprint to change?

- What device and browser are you using?

[code]
- What version of FingerprintJS are you using?

### Fingerprint data
Seems like the `hdr` entropy source is not stable in Safari, after two days when I check the `result.visitorId` in my iPhone, it's changed, the diff is here:  https://www.diffchecker.com/ts58uNPT

[2022-08-31 08:35] Finesse commented on #809
Hey @tvvocold. Thank you for reporting this. As I can see, the value is `false` when the device is in low power mode. I'll check what we can do with it.

[2022-09-05 06:29] #791 closed

[2022-09-12 04:59] Finesse commented on #718
A related discussion: https://github.com/fingerprintjs/fingerprintjs/discussions/815

[2022-09-15 22:36] kanlanc commented on #767
@makma Sorry for the delay, freshly moved to New york so got caught up in that, I have added a readme with the handle, updated the package.json with the MIT license, please do let me know if there is anything else is required

[2022-09-18 11:37] makma commented on #767
I added LICENSE file and proposed changes in https://github.com/fingerprintjs/fingerprintjs/pull/816

[2022-09-19 11:43] #767 closed

[2022-10-05 17:09] MohammadTaseenKhan opened #820 "How can I add discord webhook url to Fingerprint"
I am trying to add discord webhook url to Fingerprint for able to immediately notify me when an event occurs and my application doesn't have to perform complicated polling to determine if something new happened

but after adding the url this error showing

![image](https://user-images.githubusercontent.com/85288261/194120140-5d255fe8-8f72-4d70-9c7e-2e72477eab66.png)

Showing this response

[code]

[2022-10-05 17:15] Valve commented on #820
@MohammadTaseenKhan thanks very much for reporting this issue, we're on it!
We'll research it and get back to you.

[2022-10-05 18:26] Valve commented on #820
@MohammadTaseenKhan can you please email your subscriptionID (you can find it in URL) and the web hook URL to support@fingerprint.com? We tried this on our end and it worked fine, need to get more details from you via email.
I'm going to close this issue since we'll be continuing over the email.

[2022-10-07 06:10] MohammadTaseenKhan commented on #820
@Valve
yes i will be sending you the full webhook link

[2022-10-12 05:24] manhbuithe opened #821 "How to validate visitor id?"
How do we validate that visitor id is generated by the lib or it's fake id?

[2022-10-12 11:53] makma commented on #821
Hey @manhbuithe!
Please note, there is a difference between a `visitorId` and a fingerprint - they relate to different products.

The visitorId is generated by commercial SaaS [Fingerprint Pro](https://fingerprint.com/). One can validate this `visitorId` using the [Server API](https://dev.fingerprint.com/docs/server-api) or [Webhooks](https://dev.fingerprint.com/docs/webhooks).

On the other hand,

[2022-10-18 08:40] #769 closed

[2022-10-18 08:40] #796 closed

[2022-10-23 14:23] convodevteam opened #822 "Generating visitorId across browsers"
Hey,
Is it possible to generate the same visitorId across different browsers?
When I use the basic visitorId it changes every time...Is it possible to create this based on different aspects of data collected?

[2022-10-25 04:34] chuotnhat1985 opened #823 "NotSupportError - The operation is not supported in Safari on IOS 16"
### Scenario

- It is happened DOM Exception: NotSupportError - The operation is not supported in Safari on IOS 16
- Iphone with IOS 16 on Safari
- FingerprintJS v3.3.6

### Fingerprint Data
Mozilla/5.0 (iPhone; CPU iPhone OS 16_0_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.0 Mobile/15E148 Safari/604.1

[2022-10-25 07:30] makma commented on #822
Hello @convodevteam,
Both, opensource FingerprintJS (generating fingerprints) and Fingerprint Pro (generating visitorIds) are browser fingerprinting tools. That means they generate identifiers for browsers, not devices. Can you explain your scenario, please?

Could you elaborate on this, I'm not sure I understand.

[2022-10-25 08:22] Finesse commented on #823
Hello @chuotnhat1985. Thank you for reporting this. Unfortunately, I can't reproduce this. Could you please provide more details:

- Steps to reproduce
- The page URL
- What's the exact output (is the error thrown or it is a prat of the regular result)
- The stack trace (where exactly the code the error occurs)

[2022-10-25 09:16] chuotnhat1985 commented on #823
Hi @Finesse. Thanks for your response. I just call loadSources and get the error as the screenshot.
`const fpPromise = loadSources(sources, {}, [
    "screenResolution",
    "screenFrame",
    "canvas",
    "fontPreferences",
    "languages",
  ])();`
[url=https://ibb.co/TBTNCQ9][img]https://i.ibb.co/ccvsmW4/2022-10-25-16-12-03-itnw-s-Mac-mini-Tight-VNC-Viewer.png[/img][/url]

[2022-10-25 09:43] Finesse commented on #823
@chuotnhat1985

- What does `fpPromise` resolve to or throws?
- What's the page full URL? (even if it's a local address)
- Please provide an HTML file that I can reproduce the error with
- Are there any important settings on your iPhone such as Lockdown Mode?

[2022-10-26 12:01] ratnev opened #824 "iOS 16 Safari private mode returns false for incognito"
iOS 16 Safari private mode returns false for incognito while .get method. It works for Safari on Mac OS, chrome mobile and desktop as well.

*Scenario*

- open request url in private mode in safari iOS mobile
- check if incognito mode in fingerprint object exist (true) while .get method

*Fingerprint Data*

Mozilla/5.0 (iPhone; CPU iPhone OS 16_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Ge

[2022-10-27 11:05] danielstorch commented on #672
@Finesse We have now started logging a bit more. Here are the results:

In the last 24 hours 5 browsers/users had this error reported to sentry. But in all 5 cases the fingerprint was calculated and the audio source was available. No error was submitted in any of the components from fingerprint. So it seems to be something that happens after the fingerprint and components/sources where calculated?

[2022-10-31 14:19] Finesse commented on #672
@danielstorch Thank you for the information, it seems to be helpful

This is what I suspect

Sorry for not responding for a long time. This issue is on my to-do list, I didn't have enough time to get to it.

[2022-11-01 01:04] Valve commented on #824
@ratnev sorry for the late reply, I just tried it but was unable to reproduce it. Can you reproduce it on our website home page?

[2022-11-01 03:35] ratnev commented on #824
@Valve I've tried to open the https://fingerprint.com/demo/ on Mobile Safari on IOS (in private mode) and it does states "YES" for "INCOGNITO".

But it's not my case. The problem is that the same code I use, returns different values for "incognito" on different iOS versions on Mobile Safari. Everything works as expected if iOS version (major) <= 15, otherwise it returns incognito: false only on Mo

[2022-11-01 04:11] ratnev commented on #824
Opened a Safari page in Private mode through localtunnel (iPhone 14 Pro, locally) and inspected the page via Safari dev tools on Mac OS.

The response I get from fingerprint (standard get method):

{
    browserName: "Mobile Safari",
    browserVersion: "16.1",
    device: "iPhone",
    incognito: false,
    ip: "176.100.6.61",
    os: "iOS",
    osVersion: "16.1",
    visitorId: "zA4XJnVccnO3AwM8

[2022-11-01 06:07] Finesse commented on #824
@ratnev Please share a couple of `requestId` values that you got in cases when the `incognito` value was incorrect